@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700&subset=latin-ext');
@import url('./colors.css');

:root {
    /* This is used for our branding text and any text that might be placed in the background-layer text */
    --kdt-text: #ffecff;
    --kdt-text-border: #e15e87;
    /* These two colors are the light and dark colors we use throughout the project, for the background, notify panel, and now playing elements*/
    --kdt-light: #f397b4;
    --kdt-dark: #d4688a;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Oswald', 'Helvetica', sans-serif;
    font-weight: bold;
}
