@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700&subset=latin-ext');
@import url('./colors.css');

:root {
    --document-width: 1920px;
    --document-height: 1080px;
    --font-size: 153px;
    --overlay-text-size: 75px;
}

body {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#container {
    width: var(--document-width);
    min-width: var(--document-width);
    max-width: var(--document-width);
    height: var(--document-height);
    min-height: var(--document-height);
    max-width: var(--document-height);
    font-family: 'Oswald', 'Helvetica', sans-serif;
    font-weight: bold;
}
